<!-- <% provide(:title, "Home") %> -->
<!DOCTYPE html>
<html>
	<head>
      <!-- <title>
        <% yield(:title) %> | Rate My Lease
      </title> -->
    </head>

    <div class="center jumbotron" class="image" >
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Castle_Neuschwanstein.jpg" alt="Test" width=1000px; height=600px>
    <h1><span>Rate My Lease</span></h1>

    <h2><span>
    Where you Rate Student Housing.
    </span>
    </h2>
    </body>
    </div>



</html>
