<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
      <title>
        <% yield(:title) %> | Rate My Lease
      </title>
  </head>
	<body>
		<!-- <div class="center jumbotron" class="image" > -->
		<!-- <img src="https://upload.wikimedia.org/wikipedia/commons/a/ae/Castle_Neuschwanstein.jpg" alt="Test" width=1000px; height=600px> -->
		<!-- <img src="/images/ohana.jpg" alt="ohana" /> -->

		<!-- <div class="search-form">
			<p>Find a Lease</p>
			<%= form_tag search_leases_path, method: :get do |f| %>
				<%= text_field_tag :search, nil, placeholder: "Enter Location" %>
			<% end %>
		</div> -->

	</body>
</html>
