<% provide(:title, "Profile") %>

<h3>Profile</h3>

<h4>
  Hello
  <%= image_tag current_user.avatar.url if current_user.avatar.url.present? %>
<%= "#{current_user.first_name} #{current_user.last_name[0]}" %>.

</h4>
