  .TextBoxSize {
   width: 210px;
   position: relative;
   maxlength: 25;
 }

  .ProvinceBoxSize {
   width: 210px;
   position: center;
   maxlength: 25;
 }

  .SchoolBoxSize {
   width: 210px;
   position: relative;
 }

  .NumberBoxSize{
    width: 40px;
    position: center;
 }
 
