<link rel="stylesheet" ref="footer.scss"/>
<html>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 title"> About</div>
          <div class="col-md-4 title"> This is</div>
          <div class="col-md-4 title"> A Footer</div>
        </div>
        <div class="row">
          <a href="https://www.google.ca" class="col-md-4" > Terms of Service</a>
          <a class="col-md-4" href="https://www.google.ca"> 這是一</a>
          <a class="col-md-4" href="https://www.google.ca"> 個腳註</a>
        </div>
        <div class="row">
          <a class="col-md-4" href="https://www.google.ca"> Privacy Policy</a>
          <a class="col-md-4" href="https://www.google.ca"> To je </a>
          <a class="col-md-4" href="https://www.google.ca"> zápatí</a>
        </div>
        <br><br>
        Copyright© 2017-2017 Rate My Lease
      </div>
    </footer>
  </body>
</html>
